<div class="line-foot">
        <div>
           <span>© 2023 BangLine<font>|</font>上海义缘网络科技有限公司<font>|</font>虹梅路2007号远中产业园3期1号楼705室</span>
           <span>沪ICP备16029834号-3<font>|</font>沪公网安备 31010402001557号</span>
        </div> 
</div>

<%- include('../global/foot_script.ejs') %>
