<div class="line-foot">
        <div>
                关于我们  开发者  工作机会  产品建议和反馈  认证  推广中心  资源置换服务  侵权投诉  服务协议  隐私政策<br>
                © 2023 BangLine<br>
                <br>
                
                沪ICP备16029834号-3<br>
                沪公网安备 31010402001557号<br>
                上海义缘网络科技有限公司<br>
                地址: 虹梅路2007号远中产业园3期1号楼705室
        </div> 
</div>

<%- include('../global/foot_script.ejs') %>
