<% let path=results.children || "" %>
<% if(path=='members-detail') { %>
<div class="me-overview">
    <ul>
        <li>
            <i class="homepage-show"></i>
            <span>主页展示</span>
            <span>2456</span>
        </li>
        <li>
            <i class="post-show"></i>
            <span>供求</span>
            <span>8</span>
        </li>
        <li>
            <i class="follow-show"></i>
            <span>关注</span>
            <span>38</span>
        </li>
        <li>
            <i class="message-show"></i>
            <span>对话</span>
            <span>98</span>
        </li>
    </ul>
</div>
<% } %>