<% console.log(results,"公共右侧顶部") %>
<% let path=results.children || "" %>

<% if(path=='members-detail') { %>
<div class="me-overview">
    <ul>
        <li>
            <img src="" alt="">
            <span>111</span>
            <span>222</span>
        </li>
        <li>
            <img src="" alt="">
            <span>111</span>
            <span>222</span>
        </li>
        <li>
            <img src="" alt="">
            <span>111</span>
            <span>222</span>
        </li>
        <li>
            <img src="" alt="">
            <span>111</span>
            <span>222</span>
        </li>
    </ul>
</div>
<% } %>