.leftsidebar .leftsidebar-mine ul{background:#fff;border:1px #eee solid;padding:0;box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    position:absolute;left:0;top:50px;z-index:2;width:230px;transition: all .2s ease-in-out;opacity:0;display:none;}
.leftsidebar .leftsidebar-mine:hover ul{background:#fff;border:1px #eee solid;padding:0;box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    position:absolute;left:0;top:50px;z-index:2;width:230px;transition: all .2s ease-in-out;opacity:1;display:block;}


.bang-mall div:nth-child(2){width:338.5px;}
.bang-mall div:nth-child(3){width:338.5px;}
.bang-mall div:nth-child(2) i {background-position:-273px -380px;}
.bang-mall div:nth-child(3) i {background-position:-383px -378px}
.help-nav li a{font-weight:normal;}
.class-category div{width:423.5px;}
.class-category div:nth-child(2){margin-right:0;}
.use-example .example-item{height:320px;}

.loft-hd-content ul li span:nth-child(1){width:185px;}
.loft-hd-content ul li span{width:191.5px;}
.loft-hd-content ul li span:nth-child(4){border-right:none;}
.loft-hd-content ul li:nth-child(1) span{height:150px;}
.user-c-left{border-right:none;margin-left:180px;}

.center-tab-mall li span{line-height:120%;}
.content-company-history li span:nth-child(3){padding-right:4%;}
.content-company-history li span:nth-child(5){width:8.4%;}
.filtrate li{width:155px;}
.bang-list li{line-height:140%;padding:10px 0;}

.mail-collect .gather{width:100%;}
.member-price-select li{width:275px;}
.member-type-tab ul li font{padding:0 30px;}

.report-box .report-tab a{margin-right:8px;padding:0 8px;margin-right:2px;}
.adds-dd .dropdown-menu{width:300px;top:30px;}
.customs-countries-list li:nth-child(2) .new-country{line-height:95%;font-size:14.4px;}
.seach-list-span{margin-left:-5px;}
.group-content span{margin-top:0;}
.data-tool-list a{flex:0.47;}
.data-tool-list.data-tool-list-category a{flex:0.31;}
.sousou-screen p a{margin-right:15px;}


.right-web-fixed .ty-fixed{background:#E98B0C;}
.right-web-fixed .wx-fixed{background:#2AAE67;}
.right-web-fixed .fb-fixed{background:#06c;}
.right-web-fixed .top-fixed{background:#007FFF;position:relative;}
.right-web-fixed a font{color:#fff;opacity:0.9;}
.leftsidebar div span.course{width:130px;}
.sjj-right-c{font-size:13.5px;}


.member-order-list li.df2022-credit-show::after{content:"Valid Until 12/31/2022 23:59:59";}
