<!--0档续费期用户-->
<%if(wglobals.lang == 'cn'){%>
<div class="sjj-pop-k">
    <div class="sjj-pop-title">
       <span>【数据节】告别艰辛的2022，为2023搏个彩头！</span>
       <span>抽Iphone14、华为耳机、空气炸锅！</span>
       <span>您享价格保护！原价续费最高节省2000元</span>
    </div>
    <div class="sjj-time-left">
       <div class="sjj-time-title">数据节距离结束：</div>
       <div class="sjj-time-number">
           <span><font id="day">0</font>天</span>
           <span><font id="hour">0</font>时</span>
           <span><font id="minite">0</font>分</span>
           <span><font id="second">0</font>秒</span>
       </div>
    </div>
    <div class="sjj-gift">
       <div class="sjj-gift-item">
           <img src="<%= STATIC %>images/sjj_images/sjj_hb.png"/>
           <span>历史最低价续费，最高节省</span>
           <b>2000元</b>
       </div>
       <div class="sjj-gift-item">
           <img src="<%= STATIC %>images/sjj_images/sjj_gift.png"/>
           <span>送价值百元礼品，8款挑1</span>
           <b>阳光普照奖</b>
       </div>
       <div class="sjj-gift-item">
           <img src="<%= STATIC %>images/sjj_images/sjj_iphone.png"/>
           <span>抽价值万元礼品，最高抽</span>
           <b>Iphone14</b>
       </div>
    </div>
    <div class="sjj-button">
       <a href="/2022-data-festival" target="_blank">进入2022年数据节主会场 →</a>
       <span>2022数据节截止于12月31 23:23:59</span>
    </div>
</div>
<%}%>


<%if(wglobals.lang == 'en'){%>
    <div class="sjj-pop-k">
         <div class="sjj-pop-title">
            <span>Data Festival 2022 returns</span>
            <span style="font-size:39.4px;">Renew Diamond Packages At The Original Price.</span>
         </div>
         <div class="sjj-time-left">
            <div class="sjj-time-title">Data Festival valid until：</div>
            <div class="sjj-time-number">
                <span><font id="day">0</font>D</span>
                <span><font id="hour">0</font>H</span>
                <span><font id="minite">0</font>M</span>
                <span><font id="second">0</font>S</span>
            </div>
         </div>
         <div class="sjj-coupe">
            <div>
              <h2>Renew yellow diamond only<br/> <b>$399.9</b></h2>
              <p>You can enjoy the price protection policy, Renewing yellow diamond package can save $470</p>
              <a href="Alipay?v=yd" target="_blank">Renew now →</a>
            </div>
         </div>
         <div class="sjj-button">
            <span>Data Festival valid until：12/31/2022 23:59:59</span>
         </div>
    </div>
    <%}%>