<!--12月购买钻石用户-->
<div class="sjj-pop-k">
    <div class="sjj-pop-title">
       <span>【数据节】告别艰辛的2022，为2023搏个彩头！</span>
       <span>抽Iphone14、华为耳机、空气炸锅！</span>
       <span style="color:BD3124;">[您已在奖池] 先领百元礼品，再等抽奖开奖！</span>
    </div>
    <div class="sjj-gift">
       <div class="sjj-gift-item">
           <font>共抽17人</font>
           <img src="<%= STATIC %>images/sjj_images/sjj_zhaguo.png" style="margin-bottom:6px;margin-top:23px;"/>
           <span>奥克斯5.5升可视电子屏</span>
           <b>空气炸锅</b>
       </div>
       <div class="sjj-gift-item">
           <font>共抽6人</font>
           <img src="<%= STATIC %>images/sjj_images/sjj_erji.png"/>
           <span>华为FreeBuds 5i无线</span>
           <b>蓝牙耳机</b>
       </div>
       <div class="sjj-gift-item">
           <font>抽1人</font>
           <img src="<%= STATIC %>images/sjj_images/sjj_iphone.png"/>
           <span>星光白128G，苹果新款</span>
           <b>Iphone14</b>
       </div>
    </div>
    <div class="sjj-button">
       <a href="/2022-data-festival" target="_blank">领礼品，查看开奖日期 →</a>
       <span style="color:#fff;opacity:0.85;">当前抽奖提示弹窗关闭后不在显示，领礼品<br/>参与抽奖请进入数据节主会场。</span>
    </div>
</div>