<style>
  .old-user-mail{padding:35px 50px;}
  .old-user-mail h2{font-size:21.4px;color:#333;margin-bottom:8px;}
  .old-user-mail p{margin:0;font-size:15.4px;color:#333;line-height:160%;}
  .old-user-mail p.new-tan-1{padding-bottom:10px;}
  .old-user-mail p span{color:#999;}
  .old-user-mail p.new-tan-3 a{display:inline-block;height:42px;line-height:42px;padding:0 25px;border-radius:3px;color:#fff;background:#007FFF;margin-right:10px;} 
  .old-user-mail p.new-tan-3{margin-top:20px;}
</style>
<div class="old-user-mail">
  <%if(wglobals.lang == 'cn'){%>
  <div class="new-tan">
    <h2>2023年续费福利大礼包,赶紧领取!</h2>
    <p class="new-tan-1"><b>亲爱的老用户：</b><br/>以下是为您定制的钻石会员续费福利政策，如有任何疑问请咨询在线客服。<br />钻石续费福利如下：</p>
    <p class="new-tan-2">        
      <span>●</span> 续黄钻：送400元代金券 或 赠送邮箱采集、群发工具二选一
    </p>
    <p class="new-tan-3">
      <a href="http://wpa.qq.com/msgrd?v=3&uin=800183629&site=qq&menu=yes" target="_blank" class="link-bottom-a" >← 咨询客服</a>
      <a href="/Alipay?v=yd&s=WebTanChuang" target="_blank" class="link-bottom-a">查看续费价格 →</a>
    </p>
  </div>
  <%} else {%>
      <%  var ndate = new Date('2022-08-31 23:59:59')%>
    <div class="new-tan">
      <h2>2022 Renewal Benefits Package, Get It Now!</h2>
      <p class="new-tan-1"><b>Dear Existing Users：</b><br/>Below is a customized Diamond membership renewal benefits policy for you, please contact our online customer service if you have any questions. Diamond renewal benefits are as follows.</p>
      <p class="new-tan-2">
        <%if(new Date() <= ndate && wglobals.ip_area == 'IN' ){%>
            <span>●</span> Renew Yellow Diamond：Free $100 voucher or Free Email Hunting Tool (Valid until 31 August)
        <%}else{%>
            <span>●</span> Renew Yellow Diamond：Free $50 voucher or Free Email Hunting Tool
        <%}%>
      </p>
      <p class="new-tan-3">
        <a href="https://api.whatsapp.com/send?phone=+8616621075894&text=Hello" target="_blank" class="link-bottom-a" >← Contact us online</a>
        <a href="/Alipay?v=yd&s=WebTanChuang" target="_blank" class="link-bottom-a">View renewal prices →</a>
      </p>
    </div>  
  <% } %>
</div>