<style>
    .whatsapp-content{padding:35px 50px;color:#333;text-align:center;}
    .whatsapp-content h2{font-weight:500;font-size:21.4px;font-weight:bold;text-transform: capitalize;line-height:120%;}
    .whatsapp-content-1{text-align:center;padding:15px 0;font-size:15.4px;}
    .whatsapp-content-1 span{display:inline-block;font-size:15.4px;line-height:160%;font-weight:normal;text-transform:capitalize;}
    .whatsapp-content-2 img{width:200px;;border-radius:3px;padding:5px;box-shadow: 0 0 10px rgb(0 0 0 / 13%);}
    .whatsapp-content-3{color:#999;font-size:12.4px;padding-top:5px;}
</style>
<div id="pop_wx_service_qrcode">
    <div class="whatsapp-content">
        <h2>Welcome to join the VIP service group<br/>In the group, you can get</h2>
        <p class="whatsapp-content-1">
              <span>
                ① Free trial chances of yellow diamond members,<br/>
                ② Customer service,<br/>
                ③ Details about customs data using, updating news,<br/>
                ④ Communication chance with other users.
              </span>
        </p>
        <p class="whatsapp-content-2"><img src="https://static.52wmb.com/wmb_img/share/Whatsapp_erweima.png?v=002" /></p>
        <p class="whatsapp-content-3">Join group by scanning QR code with WhatsApp</p>
    </div>
</div>