<div>
    <video autoplay="autoplay" class="editor" controls="controls" width="100%" style="margin-bottom:-4px;">
        <source src="http://1254062548.vod2.myqcloud.com/71cf0de4vodgzp1254062548/f8e184ae387702302014447939/xtVzuGKnUhAA.mp4" />
    </video>
</div>