<style>
.content{text-align:center;padding:35px 50px;font-size:14.4px;color:#333;}
.content b{font-size:17.4px;}
.content span{display:block;margin-bottom:15px;line-height:150%;}
.content img{width:200px;box-shadow: 0 0 10px rgb(0 0 0 / 10%);}
</style>
<div id="pop_wx_service_qrcode">
    <p class="content">
      <span><b>邀请您关注外贸邦微信服务号</b><br/>还没有找到您感兴趣的公司信息吗？扫描下方二维码，发现更多海外采供商贸易信息&联系方式！</span>
      <img src="https://static.52wmb.com/wmb_img/share/weixin_fangke_erweima.png" />
    </p>
</div>