<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[9/6]外贸邦老用户福利专场</title>
    <style>
        .yx-info-s{padding:50px 40px;text-align:center;background:#F7f7f7;border-radius:8px;}
        .yx-info-s p{text-align:center;font-size:16.4px;margin-bottom:35px;}
        .yx-info-s h1{text-align:center;font-size:24.4px;color:#E98B0C;margin-bottom:8px;}
        .yx-info-s li{
            box-shadow: 0 0 8px rgb(0 0 0 / 3%);
            float:left;margin-right:3.2%;width:95%;padding:40px 20px;text-align:center;background:#fff;border-radius:5px;}
        .yx-info-s li:last-child{margin-right:0;}
        .yx-info-s li span{display:block;font-size:16.4px;color:#333;margin-top:8px;}
        .yx-info-s li a{margin-top:10px;border-radius:100px;display:inline-block;height:38px;line-height:38px;padding:0 20px;background:#3B8CFF;color:#fff;font-size:15.4px;text-decoration:none;}
        .clear{clear:both;}

        .ys-info-tips{background:#fafafa;font-size:15.4px;color:#333;padding:20px 40px;border-radius:5px;padding-left:110px;position: relative;margin-top:15px;}
        .ys-info-tips i{display:block;width:50px;height:50px;position:absolute;left:40px;top:18px;}
        .ys-info-tips a{color:#3B8CFF;padding-top:5px;display: block;text-decoration:none;font-size:14.4px;}


        .foot{border-top:1px #eee solid;line-height:50px;margin-top:10px;font-size:13.4px;color:#999;}
        .foot font{font-weight:100;padding:0 8px;color:#999;}
        .foot span{float:right;}
        .clear{clear:both;}
        .logo {margin-bottom:15px;}
        .logo img{float:left;}
        .logo-font{float:left;font-size:14.4px;color:#888;height:45px;line-height:60px;padding-left:15px;}
        .logo span{float:right;height:45px;line-height:60px;}
        .logo span a{text-decoration:none;color:#333;font-size:14.4px;}
        .logo span font{display:inline-block;color:#ccc;padding:0 6px;font-weight:100;}
        .yx-data{margin-top:40px;}
        .yx-data li{border-bottom:1px #eee solid;line-height:40px;}
        .yx-data li a{font-size:15.4px;color:#333;text-decoration:none;}

        ul,li,p,h2,h1,h3{margin:0;}
        ul,li{list-style:none;padding:0;}
        body{margin:0;}
        .yx-k{width:800px;margin:0 auto;margin-top:50px;}
        .disnone{display: none!important;}
    </style>
</head>

<body>
<div class="yx-k">
    <div class="logo">
        <a href="https://www.52wmb.com/" target="_blank"><img src="https://static.52wmb.com/wmb_img/wmblogo.png"/></a>
        <font class="logo-font">精选</font>
        <span>
            <a href="/user/datacenter/home" target="_blank">我的</a><font>/</font>
            <a href="/buyer" target="_blank">采购商</a><font>/</font>
            <a href="/buyer" target="_blank">供应商</a><font>/</font>
            <a href="/billsearch" target="_blank">贸易数据</a><font>/</font>
            <a href="/new" target="_blank">邦课堂</a><font>/</font>
            <a href="/Alipay" target="_blank">购买会员</a>
        </span>
        <br class="clear"/>
    </div>

    <div class="yx-info-s">
        <h1>[9/06]外贸邦老用户福利专场</h1>
        <p>40个邮件营销攻略,提高邮件打开率实操演示,含100+国家公共邮箱地址</p>
        <ul>
            <li style="margin-right:0;">
                <i><svg t="1649641575749" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10539" width="60" height="60"><path d="M294.161067 494.421333H223.368533a15.36 15.36 0 0 0-12.731733 6.382934 25.634133 25.634133 0 0 0-4.949333 16.2816c0 6.621867 1.6384 12.049067 4.949333 16.2816a15.496533 15.496533 0 0 0 12.731733 6.382933h70.792534a14.506667 14.506667 0 0 0 12.3904-6.382933 27.0336 27.0336 0 0 0 4.608-16.2816c0-6.621867-1.536-12.049067-4.608-16.2816s-7.202133-6.382933-12.3904-6.382934zM294.161067 582.929067H223.368533a15.735467 15.735467 0 0 0-12.731733 6.007466 24.234667 24.234667 0 0 0-4.949333 15.940267c0 6.144 1.6384 11.332267 4.949333 15.5648a15.496533 15.496533 0 0 0 12.731733 6.382933h70.792534a14.506667 14.506667 0 0 0 12.3904-6.382933 25.873067 25.873067 0 0 0 4.608-15.5648c0-6.621867-1.536-11.912533-4.608-15.940267s-7.202133-6.007467-12.3904-6.007466zM223.368533 449.809067h67.959467a14.336 14.336 0 0 0 12.3904-6.724267 27.477333 27.477333 0 0 0 4.608-15.940267 27.0336 27.0336 0 0 0-4.608-16.2816 14.574933 14.574933 0 0 0-12.3904-6.382933H223.368533a15.36 15.36 0 0 0-12.731733 6.382933 25.634133 25.634133 0 0 0-4.949333 16.2816c0 6.144 1.6384 11.434667 4.949333 15.940267a15.1552 15.1552 0 0 0 12.731733 6.724267zM516.5056 539.0336h-73.6256c-4.7104 0-8.738133 2.116267-12.049067 6.382933s-4.949333 9.659733-4.949333 16.2816c0 6.144 1.6384 11.434667 4.949333 15.940267s7.304533 6.724267 12.049067 6.724267h73.6256c4.7104 0 8.738133-2.2528 12.049067-6.724267s4.949333-9.796267 4.949333-15.940267c0-6.621867-1.6384-12.049067-4.949333-16.2816s-7.338667-6.382933-12.049067-6.382933zM516.5056 448.4096h-73.6256c-4.7104 0-8.738133 2.116267-12.049067 6.382933s-4.949333 9.659733-4.949333 16.2816 1.6384 12.151467 4.949333 16.622934 7.304533 6.724267 12.049067 6.724266h73.6256c4.7104 0 8.738133-2.2528 12.049067-6.724266s4.949333-10.0352 4.949333-16.622934c0-6.621867-1.6384-12.049067-4.949333-16.2816s-7.338667-6.382933-12.049067-6.382933z" fill="#17C295" p-id="10540"></path><path d="M870.4 0h-716.8A153.6 153.6 0 0 0 0 153.6v716.8A153.6 153.6 0 0 0 153.6 1024h716.8a153.6 153.6 0 0 0 153.6-153.6v-716.8A153.6 153.6 0 0 0 870.4 0zM345.873067 751.445333c0 14.165333-5.085867 26.180267-15.223467 36.113067s-22.289067 14.882133-36.4544 14.882133H220.535467c-14.165333 0-26.3168-4.949333-36.4544-14.882133s-15.223467-21.947733-15.223467-36.113067V278.459733c0-14.165333 5.085867-26.180267 15.223467-36.113066s22.289067-14.882133 36.4544-14.882134h73.6256c14.165333 0 26.3168 4.949333 36.4544 14.882134s15.223467 21.947733 15.223466 36.113066v472.9856z m221.5936 0c0 14.165333-4.949333 26.180267-14.882134 36.113067s-21.947733 14.882133-36.113066 14.882133h-73.6256c-14.165333 0-26.180267-4.949333-36.113067-14.882133s-14.882133-21.947733-14.882133-36.113067V278.459733c0-14.165333 3.7888-26.180267 11.332266-36.113066 7.543467-9.898667 18.6368-14.882133 33.28-14.882134h80.008534c14.165333 0 26.180267 4.949333 36.113066 14.882134s14.882133 21.947733 14.882134 36.113066v472.9856z m296.311466 16.9984c-8.260267 11.332267-19.456 18.158933-33.621333 20.548267l-84.957867 13.448533a48.674133 48.674133 0 0 1-37.888-8.840533 49.7664 49.7664 0 0 1-20.8896-33.621333l-72.226133-457.386667a52.258133 52.258133 0 0 1 9.216-37.888c3.7888-5.4272 8.6016-9.898667 14.506667-13.448533 5.905067-3.549867 12.3904-6.007467 19.456-7.441067l84.241066-13.448533c14.165333-2.3552 26.897067 0.7168 38.229334 9.216s18.158933 19.831467 20.548266 33.9968l72.226134 456.669866c2.389333 14.097067-0.580267 26.862933-8.840534 38.1952z" fill="#17C295" p-id="10541"></path></svg></i>
                <span>外贸资料包百度网盘提取码:ybgb</span>
                <a href="https://pan.baidu.com/s/1pZZFExKO-O7jcvwCS5nV3g?pwd=ybgb" target="_blank">立即领取</a>
            </li>
            <br class="clear"/>
        </ul>
    </div>



    <div class="foot"><a target="_blank" href="https://beian.miit.gov.cn/">沪ICP备16029834号-2</a>©2010-2022 外贸邦版权所有<font>|</font>上海市徐汇区宜山路700号A7栋704室</div>
</div>

</body>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?c131adc40651cdf84b4c7d5fdfbec963";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</html>
