<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="采购商,名录,提单,HS编码" />
    <meta name="description" content="提供了5153348个真实海外采购商名录及提单数据，通过关键字、公司名、HS编码搜索采购商。公司的货运总次、提单数据、活跃值可以帮助您筛选海外采购商" />
    <title>[9/6]外贸邦老用户福利</title>
    <script>
        var adaptive={};
        !function(e,t){var i=e.document,n=i.documentElement,a=e.devicePixelRatio,d=1,o=1;var r,s=100;function l(){var e;e=t.maxWidth?Math.min(n.getBoundingClientRect().width,t.maxWidth*d):n.getBoundingClientRect().width,s=100*e/t.desinWidth*(t.errDpr||1),n.style.fontSize=s+"px",i.body&&(i.body.style.fontSize=t.baseFont/100+"rem"),t.setRemCallback&&t.setRemCallback(),t.newBase=s}function c(){if(/android/gi.test(window.navigator.appVersion)){var e=document.createElement("p");e.style.height="1px",e.style.width="2.5rem",e.style.visibility="hidden",document.body.appendChild(e);var i=e.offsetWidth,n=2.5*window.adaptive.newBase;Math.abs(n/i-1)>.05&&(t.errDpr=n/i,l()),document.body.removeChild(e)}}t.errDpr=1,t.desinWidth=750,t.baseFont=28,t.reflow=function(){n.clientWidth},t.init=function(){e.addEventListener("resize",function(){clearTimeout(r),r=setTimeout(l,300)},!1),e.addEventListener("pageshow",function(e){e.persisted&&(clearTimeout(r),r=setTimeout(l,300))},!1),"complete"===i.readyState?(i.body.style.fontSize=t.baseFont/100+"rem",c()):i.addEventListener("DOMContentLoaded",function(e){i.body.style.fontSize=t.baseFont/100+"rem",c()},!1),function(){var r=/iphone/gi.test(e.navigator.appVersion);(2===t.scaleType&&r||3===t.scaleType)&&(d=a),e.devicePixelRatioValue=d,o=1/d;var s=i.querySelector('meta[name="viewport"]'),l="initial-scale="+o+", maximum-scale="+o+", minimum-scale="+o+", user-scalable=no";if(1===d&&(l="width=device-width, ".concat(l)),r||1===d||(l=l.concat(", target-densitydpi=device-dpi")),s)s.setAttribute("content",l);else{var c=i.createElement("meta");if(c.setAttribute("name","viewport"),c.setAttribute("content",l),n.firstElementChild)n.firstElementChild.appendChild(c);else{var m=i.createElement("div");m.appendChild(c),n.appendChild(m)}}}(),l(),n.setAttribute("data-dpr",d)},t.remToPx=function(e){return e*s},e.adaptive=t}(window,adaptive),window.adaptive.desinWidth=1080,window.adaptive.maxWidth=1080,window.adaptive.baseFont=40,window.adaptive.init();
    </script>
<style>
    body{background:#fafafa;}
    a{text-decoration:none;}
    .web-bottom-xcx{display:none;}
    .yixiang-detail {
        display: block;
    }

    .yixiang-module {
        margin-bottom: .3rem;
        background: #fff;
    }

    .yixiang-module .title {
        font-size: .42rem;
        color: #333;
        font-weight: normal;
        padding: .3rem 0;
        font-weight:bold;
        padding-bottom:0;
    }

    .yixiang-module .title::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        border-left: .16rem solid #f44534;
        border-right: 0 solid transparent;
        border-top: .16rem solid transparent;
        border-bottom: .16rem solid transparent;
        margin-right: .14rem;
    }

    .yixiang-module .title a {
        float: right;
        font-size: .28rem;
        color: #999;
        font-weight: normal;
        text-decoration: none;
    }

    .yixiang-module .title a font {
        font-family: fangsong;
        padding-left: .12rem;
    }

    .yx-info {
        background:#eee;
        text-align: center;
        padding: .4rem .3rem;
        position: relative;
    }
    .yx-info i{display:inline-block;}

    .yx-info img {
        border-radius: 50%;
        width: 1.8rem;
        border: 1px #eee solid;
        padding: .06rem;
        background: #fff;
        margin-bottom: .3rem;
    }

    .yx-info h1 {
        font-size: .42rem;
        color: #333;
    }

    .yx-info span {
        display: block;
        padding-top: .12rem;
        font-size: .28rem;
        color: #333;
        opacity: 0.65;
    }

    .yx-info span font {
        color: #fff;
        padding: 0 .12rem;
        font-weight: 100;
    }

    .yx-info p {
        font-size: .33rem;
        color: #333;
        padding: .32rem 0.2rem;
        line-height: 150%;

    }

    .yx-info a {
        display: inline-block;
        height: 0.9rem;
        position: relative;
        border-radius: .5rem;
        padding: 0 .7rem;
        background: #f90;
        color: #fff;
        font-size: .32rem;
        text-decoration: none;
        line-height: 0.9rem;
        font-weight:bold;
    }

    .yx-info a i {
        display: inline-block;
        vertical-align: middle;
        height: .6rem;
        width: .6rem;
        font-size: 0;
    }

    .yx-info a font {
        display: inline-block;
        vertical-align: middle;
    }

    .company-list {
        display: block;
    }

    .company-list ul {
        display: block;
        padding:0;
    }

    .company-list .company-list-li {
        width: 100%;
        padding: .3rem 0.15rem;
        border-top: 1px solid #eee;
        list-style:none;
    }

    .company-list .position {
        position: relative;
    }

    .company-list .position .company-name {
        display: block;
        font-size: .42rem;
        color: #3B8CFF;
        font-weight: bold;
        margin-bottom: .08rem;
    }

    .company-list .position .company-name:hover {
        color: #b20000;
    }

    .company-list .position .star-point {
        margin-top: .1rem;
    }

    .company-list .position .icon-star-point {
        height: .25rem;
        width:1.25rem;
    }

    .company-list .position .star-50 {
        width: 1.4rem;
        background-position: -3.5rem -3.76rem;
    }

    .company-list .position .star-45 {
        width: 1.4rem;
        background-position: -3.5rem -3.53rem;
    }

    .company-list .position .star-40 {
        width: 1.4rem;
        background-position: -3.5rem -3.29rem;
    }

    .company-list .position .star-35 {
        width: 1.4rem;
        background-position: -3.5rem -3.04rem;
    }

    .company-list .position .star-30 {
        width: 1.4rem;
        background-position: -3.5rem -2.80rem;
    }

    .company-list .position .star-25 {
        width: 1.4rem;
        background-position: -3.5rem -2.57rem;
    }

    .company-list .position .star-20 {
        width: 1.3rem;
        background-position: -3.5rem -2.33rem;
    }

    .company-list .position .star-15 {
        width: 1.3rem;
        background-position: -3.5rem -2.09rem;
    }
    .company-list .position .name {
        font-size: .44rem;
        color:#333;
        line-height: 1.5;
        text-transform: capitalize;
    }
    .company-list .position .info {
        margin-top: 0.05rem;
        font-size: .3rem;
        color: #999;
        line-height: 1.5;
        text-transform: capitalize;
    }
    .company-list .position .info font{font-size:0.30rem;height:0.7rem;line-height:0.7rem;padding:0 0.4rem;margin-top:0.1rem;background:#3B8CFF;color:#fff;display:inline-block;border-radius:100px;}
    .company-list .position .info .info-country{
        color: #666;
        margin-bottom: .08rem;
    }

    .company-list .position .info .info-descript {
        color: #666;
        margin: .14rem 0;
        font-size:0.32rem;
    }
.class-jiqiao-hot ul{margin:0;padding:0;}
    .class-jiqiao-hot li {
        border-top: 1px #eee solid;
        padding: .3rem 0;
        list-style:None;
    }

    .class-jiqiao-hot li a {
        color:#333;
        font-size: .44rem;
        display: block;
        margin-bottom: 2px;
        text-decoration: none;
    }

    .class-jiqiao-hot li span {
        font-size: .28rem;
        color: #999;
        display: block;
    }

    .class-jiqiao-hot li span font {
        font-size: .28rem;
        color: #ccc;
        padding: 0 .1rem;
    }

    .class-jiqiao-hot li a font {
        padding-right: .16rem;
        font-weight: bold;
        color: #999;
    }

    .class-jiqiao-hot li:nth-child(1) a font {
        color: #f30;
        font-size:0.3rem;
    }

    .class-jiqiao-hot li:nth-child(2) a font {
        color: #f60;
        font-size:0.3rem;
    }

    .class-jiqiao-hot li:nth-child(3) a font {
        color: #f90;
        font-size:0.3rem;
    }

    .yx-data {
        display: block;
    }

    .yx-data li {
        border-top: 1px #eee solid;
        line-height: 1.6;
        padding: .3rem 0;
    }

    .yx-data li a {
        font-size: .32rem;
        color: #333;
        text-decoration: none;
    }
    .tel{font-size:0.28rem;color:#fc0;display:block;margin-top:0.2rem;}
    .yx-info-s{font-size:0.3rem;padding:0.7rem 0.35rem;text-align:center;background:#fff;}
    .yx-info-s ul{margin:0;padding:0;}
    .yx-info-s p{text-align:center;font-size:0.32rem;margin-bottom:0.3rem;}
    .yx-info-s h1{text-align:center;font-size:0.55rem;color:#E98B0C;margin-bottom:0.30rem;}
    .yx-info-s li{
        list-style:None;display:block;
        width:96%;padding:0.5rem 0.2rem;text-align:center;background:#FFF5E9;border-radius:5px;}
    .yx-info-s li:last-child{margin-right:0;}
    .yx-info-s li span{display:block;font-size:0.42rem;color:#333;}
    .yx-info-s li a{margin-top:0.2rem;border-radius:100px;display:inline-block;height:0.85rem;line-height:0.85rem;padding:0 0.6rem;background:#3B8CFF;color:#fff;font-size:0.38rem;}
    .clear{clear:both;}
    .ys-info-tips{background:#fff;font-size:0.29rem;color:#E98B0C;padding:0.35rem 0.4rem;padding-left:1.7rem;position: relative;}
    .ys-info-tips i{display:block;width:50px;height:50px;position:absolute;left:0.4rem;top:0.55rem;}
    .ys-info-tips a{color:#3B8CFF;padding-top:0.15rem;display: block;}
    .yx-info-login{font-size:0.24rem;color:#777;padding-top:0.2rem;text-align:center;display:block;}
    .company-list, .class-jiqiao-hot{padding:0 0.4rem;}
</style>
</head>
<body>

<div class="center">
    <div class="yixiang-detail">
        <div class="yixiang-module">

           <div class="yx-info-s">
                <a href="https://www.52wmb.com"><img src="https://static.52wmb.com/wmb_new//images/logo.png"/></a>
                <h1>[9/6]外贸邦老用户福利</h1>
                <ul>
                    <li>
                        <i><svg t="1646719084834" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14096" width="45" height="45"><path d="M937.448727 930.909091H226.187636C178.455273 930.909091 139.636364 896.209455 139.636364 853.410909V837.818182H109.824C49.268364 837.818182 0 792.599273 0 737.047273V193.861818C0 138.286545 49.268364 93.090909 109.824 93.090909h664.715636C835.095273 93.090909 884.363636 138.286545 884.363636 193.861818V232.727273h53.085091C985.181091 232.727273 1024 267.450182 1024 310.225455V372.386909H139.636364V310.225455C139.636364 267.450182 178.455273 232.727273 226.187636 232.727273H837.818182V193.861818C837.818182 163.956364 809.425455 139.636364 774.539636 139.636364H109.824C74.938182 139.636364 46.545455 163.956364 46.545455 193.861818v543.185455C46.545455 766.952727 74.938182 791.272727 109.824 791.272727H139.636364V418.932364h698.181818V418.909091h46.545454v0.023273h139.636364V853.410909c0 42.798545-38.818909 77.498182-86.551273 77.498182zM488.727273 558.545455l-69.818182 174.545454-69.818182-174.545454h-46.545454l93.090909 232.727272h46.545454l93.114182-232.727272H488.727273z m139.659636 0h-46.545454v232.727272h46.545454V558.545455z m162.932364 0H674.932364v232.727272h46.545454v-93.090909h69.841455a69.818182 69.818182 0 1 0 0-139.636363z m0 93.090909h-69.841455v-46.545455h69.841455a23.272727 23.272727 0 0 1 0 46.545455z" fill="#be32ee" p-id="14097"></path></svg></i>
                        <span>40个邮件营销攻略<br/>
                            提高邮件打开率实操演示<br/>
                            含100+国家公共邮箱地址<br/></span>
                        <a href="https://pan.baidu.com/s/1qag81Ur4ZsnYVsVJoF9QzQ?pwd=nioo" onclick="return referrer_link(this)">在线免费下载</a>
                     </li>
                </ul>
            </div>
        </div>
        <div class="yixiang-module company-list" id="company_list_frm_1">
            <div class="container">
                <h2 class="title">截止2022/09/06，数据更新表<a href="/billsearch" target="_blank">更多<font>&gt;</font></a></h2>
                <div class="content">
                    <ul>
                        <li class="company-list-li">
                            <a href="https://www.52wmb.com/customs-data/bangladesh?s=old_diamond_20220906" class="company-name" title="Aquarius">
                                <div class="position">
                                    <div class="name"><font style="color:#f30;">【上新】</font>孟加拉进口数据已更新</div>
                                    <div class="info">
                                        <div class="info-country"></div>
                                        <div>数据已更新至2022-06-30，共计2,642,420条</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="company-list-li">
                            <a href="https://www.52wmb.com/customs-data/ethiopia?s=old_diamond_20220906" class="company-name" title="Aquarius">
                                <div class="position">
                                    <div class="name">埃塞俄比亚进出口数据已更新</div>
                                    <div class="info">
                                        <div class="info-country"></div>
                                        <div>数据已更新至2022-07-31，共计244,392条</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="company-list-li">
                            <a href="https://www.52wmb.com/customs-data/uruguay?s=old_diamond_20220906" class="company-name" title="Aquarius">
                                <div class="position">
                                    <div class="name">乌拉圭进出口数据已更新</div>
                                    <div class="info">
                                        <div class="info-country"></div>
                                        <div>数据已更新至2022-08-15，共计1,774,063条</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="company-list-li">
                            <a href="https://www.52wmb.com/customs-data/united_states?s=old_diamond_20220906" class="company-name" title="Aquarius">
                                <div class="position">
                                    <div class="name">美国进出口数据已更新</div>
                                    <div class="info">
                                        <div class="info-country"></div>
                                        <div>数据已更新至2022-08-23，共计41,671,507条</div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="company-list-li">
                            <a href="https://www.52wmb.com/customs-data/kazakhstan?s=old_diamond_20220906" class="company-name" title="Aquarius">
                                <div class="position">
                                    <div class="name">哈萨克斯坦进出口数据已更新</div>
                                    <div class="info">
                                        <div class="info-country"></div>
                                        <div>数据已更新至2022-08-21，共计5,543,968条</div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="company-list-li">
                            <a href="https://www.52wmb.com/customs-data/philippines?s=old_diamond_20220906" class="company-name" title="Aquarius">
                                <div class="position">
                                    <div class="name">菲律宾进出口数据已更新</div>
                                    <div class="info">
                                        <div class="info-country"></div>
                                        <div>数据已更新至2022-08，共计9,914,535条</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--div class="yixiang-module class-jiqiao-hot">
            <div class="container">
                <h2 class="title">[专题]开发客户<a href="/new" target="_blank">更多<font>&gt;</font></a></h2>
                <div class="content">
                    <ul>
                        <li>
                            <a href="https://www.52wmb.com/new/802?s=old_diamond_20220802">用Google开发不到客户？送你3种开发技巧</a>
                            <span>服务支持<font>●</font>186次阅读</span>
                        </li>
                        <li>
                            <a href="https://www.52wmb.com/new/587?s=old_diamond_20220802">外贸业务员如何发邮件通知客户涨价的技巧</a>
                            <span>服务支持<font>●</font>1239次阅读</span>
                        </li>
                        <li>
                            <a href="https://www.52wmb.com/new/792?s=old_diamond_20220802">快停止这样的开发信，来看看老鸟的写作技巧</a>
                            <span>服务支持<font>●</font>422次阅读</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div-->
    </div>
</div>
</body>
</html>