<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
</head>
<body>
    <div>
        <%- include('../global/head.ejs') %>
        <% var line=results %>
        <%for(var i=0;i<line.topic.length;i++){%>
            <h3 >
                <%= line.topic[i].title %>
            </h3>
            <%}%>
          
    </div>



    <%- include('../global/foot.ejs') %>
</body>
</html>
